*{
    margin: 5px;
    box-sizing: border-box;
}

body{
    height: 95vh;
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
}

header{
    background-image: url("Media/frick me i’m twee (1).png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    background-color: #b1e9be;
    background-position: top;
    padding: 4em 0;
    color: #115146;
    text-align: center;
}

.main{
    display: flex;
    flex: 1;
}

.left{
    background: #1f9b87;
    padding: 3em 0;
    flex: 0.25 0.25 100px;
    color: #b1e9be;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}

main{
    background: #b1e9be;
    padding: 3em 0;
    flex: 5 5 100px;
    color:#115146;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    text-align: left;
}

main h3 {
    padding: 0 1em;
}

main h4 {
    padding: 0 1em;
}

main p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 1em;
    text-indent: 10px;
}

main img {
    padding: 0 1em;
}

.right{
    background: #1f9b87;
    padding: 3em 0;
    flex: 1 1 100px;
    color: #b1e9be;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer{
    background: #1f9b87;
    padding: 1em 0;
    color: #b1e9be;
    text-align: center;
    font-size: 16px;
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0;
    }
}
